.random-planet {
    display: flex;
    align-items: center;
    padding: 1rem;
    flex-wrap: wrap;
    gap: 20px;
    background-color: #444;
    border-radius: 15px;
}
.random-planet__image {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin-inline: auto;
    border-radius: 10px;
}
.random-planet__info {
    display: flex;
    flex-direction: column;
}
.info {
    color: #fff;
}
.info__title {
    font-size: 1.8em;
    margin: 0;
}
.info__list {
    list-style: none;
    font-size: 1.2em;
    margin: 0;
    border-radius: 15px;
    display: flex;
    padding: 1rem;
    flex-direction: column;
    flex: 0 1 100%;
    color: #fff;
    background-color: #444;
}
.info__list-item {
    border-top: 1px solid #575757;
    border-bottom: 1px solid #575757;
    padding: .4rem;
    cursor: pointer;
}
.info__list-item:hover {
    background-color: #222;
}
.info__list-item:first-child {
    border-top: none;
}
.info__list-item:last-child {
    border-bottom: none;
}
@media (min-width: 768px) {
    .info__list {
        flex: 0 1 calc(40% - .5rem);
    }
    
}
@media (min-width: 578px) {
    .random-planet__image {
        width: 100%;
        max-width: 220px;
        height: 220px;
        margin-inline: inherit;
    }
}