html {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    background-color: black;
}
.container{
    display: block;
    margin: 0 auto;
    padding: 0 1rem;
    width:calc(100% - 2rem);
    max-width: 900px;
}
.details {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1rem 0;
}