*,
*::after,
*::before {
    box-sizing: inherit;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    box-sizing: border-box;
}

#root {
    padding: 0 0 1.5rem 0;
}

.container {
    display: block;
    margin: 0 auto;
    padding: 0 1rem;
    width:calc(100% - 2rem);
    max-width: 300px;
}

.container > * {
    margin-bottom: .4rem;
}

@media (min-width: 576px) {
    .container {
        max-width: 600px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 900px;
    }
}