html {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    background-color: black;
}
.container{
    --gutter-x: .75rem;

    display: flex;
    flex-direction: column;
    width:100%;
    max-width: 900px;
    padding-right:var(--gutter-x);
    padding-left:var(--gutter-x);
    margin-right:auto;
    margin-left:auto;
    gap: 1rem;
}
.details {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}