.person-details {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    flex: 1 1 auto;
    background-color: #444;
    padding: 1rem;
    border-radius: 15px;
}
.person-details__image {
    width: 33%;
    /* height: auto; */
    border-radius: 10px;
}
/* .person-details__info {
    margin-top: 1rem;
}
.info__list-item {
    padding: .4rem .2rem;
} */