.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: .9rem 0;
    gap: 15px;
}

.header__title {
    color: white;
    margin: 0;
    transition: color .3s ease;
}

.header__title:hover {
    color: gold;
}

.header__link {
    color: inherit;
    text-decoration: none;
}

.list {
    display: flex;
    list-style: none;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5px;
    margin: 0;
    padding: 0;
    margin-left: initial;
    text-align: center;
}
.list__item {
    font-size: 1.5em;
    border-radius: 3px;
    padding: .6rem .3rem;
}

.list__item:hover {
    background-color: #444;
}

.list__item-link {
    padding: .6rem .3rem;
    color: darkcyan;
    text-decoration: none;
}
.header-btn {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    color: #444;
    font-size: 16px;
    font-weight: 700;
    background-color: rgb(250, 140, 43);
}

@media (min-width:768px) {
    .header {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        padding: .9rem 0;
        gap: 70px;
    }
    
}

@media (min-width:568px) {
    .header {
        flex-direction: row;
        gap: 30px;
    }

    .list {
        flex-direction: row;
        margin-left: auto;
        text-align: left;
    }
    
}